@font-face {
  font-family: 'chunkfive';
  src: url('/static/fonts/chunkfive-webfont.eot');
  src: url('/static/fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
      url('/static/fonts/chunkfive-webfont.woff2') format('woff2'),
      url('/static/fonts/chunkfive-webfont.woff') format('woff'),
      url('/static/fonts/chunkfive-webfont.ttf') format('truetype'),
      url('/static/fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #173e43;
}

.row-padding {
  padding-top: 50px;
  padding-bottom: 40px;
}

.row-extra-padding {
  padding-top: 80px;
  padding-bottom: 70px;
}

.link-secondary {
  color: #f0ad4e;
}

h1, h2, h3, h4 {
  font-family: 'chunkfive'
}